body {
  max-width: 500px;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  word-wrap: break-word;
}

p {
  margin: 10px;
}

ins {
  text-decoration: none;
}

#header {
  font-weight: bolder;
}

.diffchange-inline {
  background-color: #d8ecff;
}

.diff-addedline {
  border: 1px solid #a3d3ff;
  border-left: 4px solid#A3D3FF;
  border-radius: 10px;
}
