body {
  max-width: 450px;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  border: 1px solid #a3d3ff;
  border-left: 4px solid#A3D3FF;
  border-radius: 10px;
}

p {
  margin: 10px;
}

ins {
  text-decoration: none;
}

.diffchange-inline {
  background-color: #d8ecff;
}
